body {
    background-color: gray;
}

.jumbotron {
    text-align: center;
}

.card-body {
    text-align: center;
}

.card {
    background-color: rgb(73, 73, 73);
}

.cat-img {
    width: 75%;
    height: 90%;
}

.modal-content {
    background: gray;
}
.modal-header {
    border-bottom: none;
}

#koty {
    align-items: center !important;
}

.carousel-item {
    height: 700px;
}

.navbar-light .navbar-brand{
    color:white;
}

.navbar-light .nav-link{
    color: white !important;;
}